.project-column .column-folding-toggle {
    transform: rotate(90deg);
    cursor: pointer;
    margin: 0 8px 0 5px;
}
.project-column.folded .column-folding-toggle {
    writing-mode: vertical-lr;
}
.project-column.folded {
    min-width: 42px;
    max-width: 42px;
}
.project-column.folded .js-project-column-name {
    writing-mode: vertical-lr;
    padding-top: 10px;
    height: 300px;
}
.project-column.folded .js-filtered-column-card-count {
    writing-mode: vertical-lr;
    padding-top: 10px;
}
.project-column.folded .js-column-card-count {
    writing-mode: vertical-lr;
    padding: 5px;
    margin: 4px 0 4px 1px !important;
}
.project-column.unfolded .js-column-card-count {
    margin: 0 4px 0 !important;
}
.project-column.folded .js-column-story-point-count {
    writing-mode: vertical-lr;
    padding: 5px;
    margin-left: 1px;
}
.project-column.folded h3 {
    padding-left: 2px !important;
}
.project-column.folded .column-menu-container { display: none; }
.project-column.folded .column-menu-item { display: none; }
.project-column.folded .js-project-issue-details-container { display: none; }
.project-column.folded .js-project-column-cards { display: none; }
.project-column.folded .js-project-column-automation-footer { display: none; }
