.project-column .column-folding-toggle {
    transform: rotate(90deg);
    cursor: pointer;
}
.project-column.folded .column-folding-toggle {
    margin: 5px 0 8px;
}
.project-column.unfolded .column-folding-toggle {
    margin-right: 8px;
}
.project-column.folded {
    min-width: 42px;
    max-width: 42px;
}
.project-column.folded .js-project-column-name {
    writing-mode: vertical-lr;
    padding-top: 10px;
    height: 150px;
}
.project-column.folded .js-column-card-count {
    writing-mode: vertical-lr;
}
.project-column.folded .column-folding-toggle {
    writing-mode: vertical-lr;
}
.project-column.folded .column-menu-container { display: none; }
.project-column.folded .column-menu-item { display: none; }
.project-column.folded .js-project-issue-details-container { display: none; }
.project-column.folded .js-project-column-cards { display: none; }
.project-column.folded .js-project-column-automation-footer { display: none; }
